/* Global styles */

/* START:notice */
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
/* END:notice */

h1 {
  color: #494949;
  font-size: 150%;
  font-family: "DejaVu Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

img {
  border: none;
}

a:link, a:visited, a:hover {
  color: #2eaeff;
  text-decoration: none;
}

td {
  vertical-align: top;
}

ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

li {
  list-style-type: none;
}

/* Styles for main page */

#banner {
  float: left;
  width: 100%;
  height: 70px;
  background: #d4ebf9;
  border: 1px solid white;
  font-family: "DejaVu Sans", Helvetica, Arial, sans-serif;
  color: #494949;
}

#title {
  float: left;
  width: 49%;
  margin-left: 1%;
  white-space: nowrap;
}

#title h1{
  margin-bottom: 5px;
  padding-bottom: 0;
}

.remo-version {
  color: gray; 
  font-size: small; 
}  

#logodiv {
  float: left;
  width: 49%;
}

#flash-notice {
  float: left;
  width: 100%;
  margin-top: 5px;
  padding-top: 2px;
  font-family: "DejaVu Sans", Helvetica, Arial, sans-serif;
}

.flash-ok {
  background: #aaffaa;
}
.flash-nok {
  background: #ff8888;
}

#maindiv {
  float: left;
  width: 100%;
  padding-top: 5px;
  font-family: "DejaVu Sans", Helvetica, Arial, sans-serif;
}

#source {
  float: left;
  width: 50%;
}

#rules {
  float: left;
  padding-left: 1%;
  width: 49%;
}

.toolsetarea {
  background: #d4ebf9;
  height: 48px;
  border-top: 1px dotted gray;
  border-bottom: 1px dotted gray;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
}
.mainarea {
  background: white;
  margin-top: 2px;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
}
.statusarea {
  background: #d4ebf9;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
  border-bottom: 1px dotted gray;
}

#source-toolsetarea {
}
#source-mainarea {
}
#source-statusarea {
}

#rules-toolsetarea {
}
#rules-mainarea {
}
#rules-statusarea {
}

/* toolset area */
.toolbutton {
  padding: 2px 2px 0px 2px;
  float: left;
  font-size: xx-small;
  text-align: center;
}
.toolbutton input { 
  border-style: none; /* This is a button by default. This way we make it into a text link.*/
  font-size: xx-small;
  color: #2eaeff;
  background: none;
}

/* The rules request list */

.listitem {
  clear: both;
  padding-left: 2px; 
}
.foldhandle{
  float: left;
  padding-top: 5px;
  padding-right: 3px;
}
.requestparameters table {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  border-spacing: 2px 0;
}
.request_http_method .inplaceeditor-form{
  float: left; /* prevent form from pushing request details down */
}
.request_http_method .inplaceeditor-form input[type="text"] { 
  width: 100px; /* Limiting the width a bit */
}
.request_path .inplaceeditor-form{
  float: left; /* prevent form from pushing request details down */
}


.request_http_method {
  color: #2eaeff;
}
.request_path {
  color: #2eaeff;
}
.requestdetails {
  float: left;
  margin-bottom: 10px;
  clear: both;
}
.requestparameters {
  float: left;
  padding-left: 20px;
  clear: both;
}
.requestparameters_body {
  float: left;
  clear: both;
}
.branchtitle {
  color: gray;
  font-size: small;
}

.add-header {
  padding: 0 0 0 10px;
}

.request-field {
  clear: both;
}
.request-fieldcolon { /* has to be in a sperate div, otherwise the label inline editor (click-to-edit) wraps */
  float: left;
  color: gray;
  font-size: small;
}
.request-fieldlabel-remarks {
  float: left;
  padding-left: 23px;
  color: gray;
  font-size: small;
}
.request-fieldlabel {
  float: left;
  padding-left: 4px;
  color: gray;
  font-size: small;
}
.request-fieldedit{
  float: left;
  white-space: nowrap;
  color: gray;
  font-size: small;
  margin-bottom: 1px;
}
.request-mandatory{
  float: left;
  white-space: nowrap;
  color: gray;
  font-size: small;
  padding-left: 5px;
}

.request-mandatory input{
  border-style: none; /* This is a button by default. This way we make it into a text link.*/
  color: #2eaeff;
  font-size: small;
  background: none;
}

.request-remove-header, .request-remove-postparameter, .request-remove-querystringparameter, .request-remove-cookieparameter{
  float: left;
  padding-left: 20px;
}

.request-header-field, .request-postparameter-field, .request-querystringparameter-field, .request-cookieparameter-field{
  padding-left: 20px;
  clear: both;
}


/* request parameter details */
.request-parameter-details {
  float: left;
  clear: both;
  padding-left: 5px;
}
.request-fieldlabel-detail {
  float: left;
  clear: both;
  padding-left: 12px;
  color: gray;
  font-size: small;
}
.request-fieldhint {
  float: left;
  color: gray;
  font-size: small;
}

/* rails helper: inplace editor */
.inplaceeditor-form input[type="text"] { 
}
.editor_field { 
  font-size: small;
  border-color: #2eaeff;
  border-style: none;
  padding-top: 0;
  padding-bottom: 0;
}
.editor_ok_button { /* this is a button by default, this way we replace it with a text link */
  color: #2eaeff;
  background: white;
  border-style: none;
}
.editor_cancel { 
  font-size: small;
  padding-right: 10px;
}

/* load logfile form */

#load_logfile_form {
  color:gray;
  font-size:small;
  padding-left:10px;
  padding-top:12px;
}
#load_logfile_frame {
  margin: 0;
  padding: 0;
  height: 1px;
  width: 1px;
  visibility: hidden;
}
#load-logfile {
  font-family: "DejaVu Sans", Helvetica, Arial, sans-serif;
}
#load-logfile input{
  border-style: none; /* This is a button by default. This way we make it into a text link.*/
  font-size: small;
  color: #2eaeff;
  background: none;
}


/* logfile list */

.logfile-listitem {
  font-size: 90%;
  padding: 5px 5px 5px 15px;
  clear: both;
}

.logfile-name {
  float: left;
}
.logfile-name input{
  float: left;
  white-space: nowrap;
  background: none;
  border-style: none; /* This is a button by default. This way we make it into a text link.*/
  color: #2eaeff;
}
.logfile-remove {
  padding-top: 2px;
  padding-left: 5px;
  float: left;
}

/* source request display */

.sourcerequest {
  font-size: 90%;
  padding-left: 5px;
  padding-right: 5px;
}

/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}


