/* Global styles */

/* START:notice */
#notice {
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
/* END:notice */

h1 {
  color: #494949;
  font-size: 150%;
  font-family: "DejaVu Sans", Helvetica, Arial, sans-serif;
  font-weight: bold;
}

img {
  border: none;
}

a:link, a:visited, a:hover {
  color: #2eaeff;
  text-decoration: none;
}

td {
  vertical-align: top;
}

ul {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

li {
  list-style-type: none;
}

/* Styles for main page */

#banner {
  float: left;
  width: 100%;
  background: #d4ebf9;
  border: 1px solid white;
  font-family: "DejaVu Sans", Helvetica, Arial, sans-serif;
  color: #494949;
}


#title {
  float: left;
  width: 49%;
  margin-left: 1%;
  white-space: nowrap;
}

      
#logodiv {
  float: left;
  width: 49%;
}

#flash-notice {
  float: left;
  width: 100%;
  margin-top: 5px;
  padding-top: 2px;
  font-family: "DejaVu Sans", Helvetica, Arial, sans-serif;
}

.flash-ok {
  background: #aaffaa;
}
.flash-nok {
  background: #ff8888;
}

#maindiv {
  float: left;
  width: 100%;
  padding-top: 5px;
  font-family: "DejaVu Sans", Helvetica, Arial, sans-serif;
}

#source {
  float: left;
  width: 50%;
}

#rules {
  float: left;
  padding-left: 1%;
  width: 49%;
}

.toolsetarea {
  background: #d4ebf9;
  height: 34px;
  border-top: 1px dotted gray;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
}
.detailarea {
  background: #49a6e0;
  margin-top: 2px;
  height: 100px;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
}
.mainarea {
  background: white;
  margin-top: 2px;
  height: 555px;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
}
.statusarea {
  background: #d4ebf9;
  border-left: 1px dotted gray;
  border-right: 1px dotted gray;
  border-bottom: 1px dotted gray;
}

#source-toolsetarea {
}
#source-detailarea {
}
#source-mainarea {
}
#source-statusarea {
}

#rules-toolsetarea {
}
#rules-detailarea {
}
#rules-mainarea {
}
#rules-statusarea {
}

/* toolset area */
.toolbutton {
  padding: 2px 2px 0px 2px;
}

/* The rules detailarea requestitem */

.detailarea #requestitem #label_http_method{
  color: #494949;
  padding-left: 1%;
  float: left;
  width: 20%;
}
.detailarea #requestitem #http_method{
  float: left;
  width: 50%;
}
.detailarea #requestitem #label_path{
  color: #494949;
  padding-left: 1%;
  float: left;
  width: 20%;
}
.detailarea #requestitem #path{
  float: left;
  width: 79%;
}
.detailarea #requestitem #label_remarks{
  color: #494949;
  padding-left: 1%;
  float: left;
  width: 20%;
}
.detailarea #requestitem #remarks{
  float: left;
  width: 50%;
}

.detailarea .submit {
  background-image: url("bg-button.png");
  background-repeat: repeat-x;
  color: white;
  font-weight: bold;
  float: left;
  width: 100%;
  margin-top: 1px;
  margin-left: 5px;
  border: 1px solid white;
}


/* The rules request list */

.listitem {
  clear: both;
  padding-left: 0px; /* when adding a left padding of n pixels, the replacement of an updated 
  		     /* listitem (save)leads to pushing the item to the right by n pixels.*/
  		     /* Using workaround with expanded/collapsed image with padding pixels on the left. */
}
.foldhandle{
  float: left;
  padding-top: 5px;
}
.requesthead {
}
.requesthead-selected {
  background: #d4ebf9;
}
.requestdetails {
  float: left;
  margin-bottom: 10px;
}
.request-field {
  clear: both;
}
.request-fieldlabel {
  float: left;
  padding-left: 24px;
  color: gray;
  font-size: small;
  margin-bottom: 1px;
}
.request-fieldedit{
  float: left;
  white-space: nowrap;
  color: gray;
  font-size: small;
  margin-bottom: 1px;
}

/* rails helper: inplace editor */
.inplaceeditor-form input[type="text"] { 
  width: 100%;
}
.editor_field { 
  font-size: small;
  border-color: #2eaeff;
  border-style: none;
  padding-top: 0;
  padding-bottom: 0;
}
.editor_ok_button { /* this is a button by default */
  color: #2eaeff;
  background: white;
  border-style: none;
}
.editor_cancel { 
}


/* The error box */

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

