<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <title>REMO - rule editor for modsecurity - display logfile request</title>
  <%= stylesheet_link_tag "remo", :media => "all" %>
  <%= stylesheet_link_tag "displaylogfilerequest", :media => "all" %>
</head>

<body id="remo">
  <%= yield :layout %>
</body>
</html>

