<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <title>REMO - rule editor for modsecurity</title>
  </head>
  <body>
<pre>
<%= @rule -%>
</pre>
  </body>
</html>
