<% if rules_toolset[4] # if ajaxrequest -%>
<div id="<%= rules_toolset[0] -%>" class="toolbutton"><% form_remote_tag :url => {:action => rules_toolset[1]} do -%><%= image_submit_tag rules_toolset[2], { :alt => "image: #{rules_toolset[2]}", :title => "#{rules_toolset[3]}"} -%><% end -%></div>
<% else -%>
        <div id="<%= rules_toolset[0] -%>" class="toolbutton"><a href="<%= rules_toolset[1] -%>"><img src="<%= rules_toolset[2] -%>" alt="image: <%= rules_toolset[2] -%>" title="<%= rules_toolset[3] -%>" /></a></div>
<% end -%>
