<div id="<%= rules_toolset[0] -%>" class="toolbutton"><a href="<%= rules_toolset[1] -%>"><img src="<%= rules_toolset[2] -%>" alt="image: <%= rules_toolset[2] -%>" title="<%= rules_toolset[3] -%>" /></a></div>
